#bg {
    background-image: url(../images/background.png);
    background-repeat: space;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 78px;
    z-index: -1;;
}

#footer1 {
    border-style: solid;
    border-width: 15px 0px 0px 0px !important;
    border-color: #4aaaa5 !important;
}


